{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load cart %}
{% load filters %}
<!-- Body -->
    <div class="container-fluid mt-3">
        <!-- all products-->
        <div id="products" class=" mx-auto">

            <div class="row mx-auto">
                <div class="card mx-auto mb-3"  style="width: 22rem;">
                    <div class="card-body">
                        <h2 class="card-title shak">Profile</h2>
                        <hr>
                        <p class="card-text desc"><b>First Name : {{cust.first_name}}</b></p>
                        <p class="card-text desc"><b>Last Name : {{cust.last_name}}</b></p>
                        <p class="card-text desc"><b>Contact : {{cust.contact_number}}</b></p>
                        <p class="card-text desc"><b>Email : {{cust.email}}</b></p>

                        <hr>   
                    </div>
                    <div class="card-footer p-0 no-gutters">
                        
                        <a href="/accounts/editprofile" type="submit" class="float-right btn btn-light border form-control" style="color:white; font-weight: bold; background-color: #3297a8;"> Edit Profile </a>
                   
                    </div>
                </div>

            </div>

        </div>
    </div>




{% endblock %}




