{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load cart %}
{% load filters %}
<!-- Body -->
    <div class="container-fluid mt-3">
    <div class="row">
        
        <div class="col-lg-7.8 mx-auto">
            <div class="card mx-auto mb-3" id={{product.id}} style="width: 38rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                
            </div>

        </div>


        <!-- all products-->
        <div id="products" class="col-lg-4.2 mx-auto">

            <div class="row mx-auto">
                <div class="card mx-auto mb-3" id={{product.id}} style="width: 22rem;">
                    <div class="card-body">
                        <h2 class="card-title shak">{{product.name}}</h2>
                        <p class="card-text price"><b> &nbsp; &nbsp;  {{product.price|rupees}}</b></p>
                        
                        <br>
                        <p class="card-text" >
                            <b>
                                <div id="confirm-box"></div>
                            </b>
                        </p>
                        <p class="card-text desc"><b>{{product.descriptions}}</b></p>
                        
                    </div>
                    <div class="card-footer p-0 no-gutters">

                        {% if product|is_in_cart:request.session.cart  %}
                        
                        <div class="row no-gutters" >

                            <form action="/description/{{product.id}}" method="post" class="col-2">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value='{{product.id}}'>
                                 <input hidden type="text" name="remove" value='True'>
                                <input type="submit" value="-" class=" btn btn-block btn-secondary border">
                            </form>

                            <div class="text-center col">{{product|cart_quantity:request.session.cart }} in Cart</div>

                            <form action="/description/{{product.id}}" method="post" class="col-2">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value='{{product.id}}'>
                                <input type="submit" value="+" class=" btn btn-block btn-secondary border" >
                            </form>

                        </div>

                        {% else %}

                        <form action="/description/{{product.id}}" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name="product" value='{{product.id}}'>

                            <input type="submit" class="float-right btn btn-light border form-control"  
                            value="Add to Cart" style="color:white; font-weight: bold; background-color: #3297a8;">
                        </form>
                        {% endif %}


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



{% endblock %}




